streamlit==1.18.0
altair==5.0.1
pandas==2.1.4
numpy==1.26.4
scikit-learn==1.5.2
nltk==3.8.1
sentence-transformers==2.7.0
langchain==0.1.17
langchain-core==0.1.54
langchain-community==0.0.37
langchain-groq==0.1.0
langchain-huggingface==0.0.2
langchain-qdrant==0.1.0
langchain-classic==0.1.0
qdrant-client==1.6.1
chromadb==0.4.22
huggingface-hub==0.23.2
transformers==4.41.2
python-dotenv==1.0.1
pypdf==4.2.2
